Repository taskhub-team/taskhub-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(tooling): TAHUB-9 🔧 add tooling for commit hygiene (#3)
  .commitlintrc
  .gitmessage
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(arch): TAHUB-13 💚 setup pr and preview workflows
  .github/scripts/upload-preview-artifact.sh
  .github/workflows/pr-validation.yml
  .github/workflows/preview-deploy.yml
  src/config/index.ts
  vite.config.ts
Due: eslint --fix

feat(arch): TAHUB-13 💚 setup pr and preview workflows (#4)
  .github/scripts/upload-preview-artifact.sh
  .github/workflows/pr-validation.yml
  .github/workflows/preview-deploy.yml
  src/config/index.ts
  vite.config.ts
Due: eslint --fix

docs(pencil): TAHUB-13 ✏️ update README and tweaked warnings
  .github/scripts/upload-preview-artifact.sh
  .github/workflows/preview-deploy.yml
  README.md
Due: prettier --write

docs(pencil): TAHUB-13 ✏️ update README and tweaked warnings (#5)
  .github/scripts/upload-preview-artifact.sh
  .github/workflows/preview-deploy.yml
  README.md
Due: prettier --write

feat(arch): TAHUB-14 🚧 Added semantic release steps
  .github/workflows/production-release.yml
  .releaserc
  README.md
Due: prettier --write

feat(arch): TAHUB-14 🚧 add semantic release and production workflow
  .github/scripts/upload-prod-artifact.sh
  .github/workflows/production-release.yml
  .releaserc
  package.json
  pnpm-lock.yaml
  src/App.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

ci(arch): TAHUB-14 👷 rectified PR comments
  .github/workflows/production-release.yml
  package.json
Due: prettier --write

feat(arch): TAHUB-14 🚧 add semantic release and production workflow (#6)
  .github/scripts/upload-prod-artifact.sh
  .github/workflows/production-release.yml
  .releaserc
  README.md
  package.json
  pnpm-lock.yaml
  src/App.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

test(arch): TAHUB-14 add changes to script
  .github/scripts/upload-prod-artifact.sh
  .github/workflows/production-release.yml
Due: none

test(arch): TAHUB-14 rectify wrong env value
  .github/scripts/upload-prod-artifact.sh
Due: none

test(arch): TAHUB-14 rectify version information
  .github/scripts/upload-prod-artifact.sh
  .github/workflows/production-release.yml
Due: none

test(arch): TAHUB-14 add critical logging
  .github/scripts/upload-prod-artifact.sh
  .github/workflows/production-release.yml
Due: none

feat(arch): TAHUB-18 💥 initial deployment
  .github/scripts/upload-prod-artifact.sh
  .github/workflows/production-release.yml
  .releaserc
  README.md
Due: prettier --write

feat(arch): TAHUB-18 💥 initial deployment (#7)
  .github/scripts/upload-prod-artifact.sh
  .github/workflows/production-release.yml
  .releaserc
  README.md
Due: prettier --write

chore(release): :rocket: 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0511003b0c530cb1cbb087e7d8a46392c3d0e04b
Due: none

test(infra): TAHUB-19 ⚗️ add codecov and test infrastructure
  .github/workflows/pr-validation.yml
  .github/workflows/production-release.yml
  .gitignore
  codecov.yml
  package.json
  pnpm-lock.yaml
  src/test/helpers/renderWithProviders.tsx
  src/test/mocks/handlers.ts
  src/test/mocks/server.ts
  src/test/setup.ts
  src/tests/App.test.tsx
  tsconfig.app.json
  vitest.config.ts
Due: eslint --fix, prettier --write

test(infra): TAHUB-19 🔒 security patch and README update
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(infra): TAHUB-19 ✏️ update codecov version
  .github/workflows/pr-validation.yml
Due: none

test(infra): TAHUB-19 ⚗️ add codecov, test infrastructure and fixes moderate security bug alert (#9)
  .github/workflows/pr-validation.yml
  .github/workflows/production-release.yml
  .gitignore
  README.md
  codecov.yml
  package.json
  pnpm-lock.yaml
  src/test/helpers/renderWithProviders.tsx
  src/test/mocks/handlers.ts
  src/test/mocks/server.ts
  src/test/setup.ts
  src/tests/App.test.tsx
  tsconfig.app.json
  vitest.config.ts
Due: eslint --fix, prettier --write

ci(infra): TAHUB-19 💚 update release workflow file
  .github/workflows/production-release.yml
  src/App.tsx
  src/tests/App.test.tsx
Due: eslint --fix

ci(infra): TAHUB-19 💚 update release workflow file (#10)
  .github/workflows/production-release.yml
  src/App.tsx
  src/tests/App.test.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,md,html,css}
